.badge-kh.badge-k-2h
  -if badge.badge_set.image?
    .picture
      = image_tag badge.badge_set.image.url 

  .information
    %h3
      =badge.company
      %br
      =badge.profession
  
  .personality
    %h1 
      =badge.name
    %h1 
      =badge.surname
    
