- if @badge.errors.any?
  .alert.alert-danger.alert-block
    %h4 
      %ol 
        - @badge.errors.full_messages.each do |message|
          %li= message

.well    
  =form_for :badge, :url => { :action => :create } do |f|
  
    .form.form-horizontal
      .control-group
        =f.label :name, class: "control-label"
        .controls
          =f.text_field :name
  
      .control-group
        =f.label :surname, class: "control-label"
        .controls
          =f.text_field :surname
    
      .control-group
        =f.label :company, class: "control-label"
        .controls
          =f.text_field :company
       
      .control-group
        =f.label :profession, class: "control-label"
        .controls
          =f.text_field :profession

      %hr
      .control-group
        .controls
          =f.button "Сохранить", class: "btn btn-primary"
            
          %button.btn{data: {click: badge_set_badges_url}}
            = t 'forms.labels.cancel'

