- if @badge_set.errors.any?
  .alert.alert-danger.alert-block
    %h4 
      %ol 
        - @badge_set.errors.full_messages.each do |message|
          %li= message

.well    
  =form_for :badge_set, :url => { :action => :create }, :html => {:multipart => true} do |f|
  
    .form.form-horizontal
      .control-group
        =f.label :name, class: "control-label"
        .controls
          =f.text_field :name
  
      .control-group
        =f.label :image, class: "control-label"
        .controls
          =f.file_field :image, :class => ""
    
      .control-group
        =f.label :source, class: "control-label"
        .controls
          =f.file_field :source, class: ""

      %hr
      .control-group
        .controls
          =f.button "Сохранить", class: "btn btn-primary"
          %button.btn{data: {click: badge_sets_url}}
            = t 'forms.labels.cancel'
