- if @badge_set.errors.any?
  .alert.alert-danger.alert-block
    %h4 
      %ol 
        - @badge_set.errors.full_messages.each do |message|
          %li= message

.well    
  =form_for @badge_set do |f|
  
    .form.form-horizontal
      .control-group
        =f.label :name, class: "control-label"
        .controls
          =f.text_field :name
  
      .control-group
        =f.label :image, class: "control-label"
        .controls
          -if @badge_set.image?
<<<<<<< HEAD
            %img{src:@badge_set.image.badge.url}
=======
            %img{src: @badge_set.image.badge.url}
>>>>>>> 1d8beada6ba3718e7a38f5d9230dd942ae13f83b
          =f.file_field :image
    
      .control-group
        =f.label :source, class: "control-label"
        .controls
          =f.file_field :source

      %hr
      .control-group
        .controls
          %button.btn{type: "submit", class: "btn btn-primary"}
            = t 'forms.labels.save'
          %button.btn{data: {click: badge_sets_url}}
            = t 'forms.labels.cancel'
